<h2><%= l(:header_handlebars) %></h2>

<%= form_tag '', id: :'handlebars-form' do %>
<%#= hidden_field_tag("ids[]", nil, id: nil, class: "issue-id-placeholder") %>
<div class="hidden-handlebars-users <%= "hide" if @hidden.empty? %>">
  <em><%= l(:label_hidden_users) %></em>
  <ul>
    <% @hidden.each do |user| %>
    <li data-user-id="<%= user.id %>"><%= link_to user.name, '#', class: "show-user" %></li>
    <% end %>
  </ul>
</div>
<div class="handlebars-table"><!--
--><ul class="times"><!--
  <% 32.times do |n| %>
--><li><%= "#{(n%8)+1}h" %></li><!--
  <% end %>
--></ul><!--
<% @users.each do |user| %>
--><ul class="handlebars <%= "hidden" if @hidden.include?(user) %>" data-user-id="<%= user.id %>">

    <% user_issues = user.handlebars_issues %>

    <li class="user-name">
      <%= link_to '', '#', class: :hide %>
      <h3><%= user.name %></h3> <span class="last-activity-span"><%= t("idle_time")+"#{time_ago_in_words(user.last_progress, true)}" if user.last_progress%></span>
    </li>
    <% with_feedback(user_issues, false).each do |issue| %>
      <%= issue_handlebar(issue, user.id, :li) %>
    <% end %>

    <% if (feedback_issues = with_feedback(user_issues)).any? %>
      <li class='on-feedback height-1'>FEEDBACK</li>
      <% feedback_issues.each do |issue| %>
        <%= issue_handlebar(issue, :li) %>
      <% end %>
    <% end %>

  </ul><!--
<% end %>
--></div>
<% end %>
<%= context_menu issues_context_menu_path %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag('plugin', plugin: :handlebars) %>
  <style type="text/css">
    <% IssuePriority.colors.each_with_index do |color, idx| %>
    .handlebar.priority-position-<%= idx+1 %>:before { background: <%= color %>; }
    <% end %>
  </style>
  <%= javascript_include_tag('plugin', plugin: :handlebars) %>
<% end %>
