<h2><%= l(:header_handlebars) %></h2>

<%= form_tag '', id: :'handlebars-form' do %>
<%= hidden_field_tag("ids[]", nil, id: nil, class: "issue-id-placeholder") %>
<div class="handlebars-table"><!--
--><ul class="times"><!--
  <% 32.times do |n| %>
--><li><%= "#{(n%8)+1}h" %></li><!--
  <% end %>
--></ul><!--
<% User.current.handlebars_users.each do |user| %>
--><ul class="handlebars <%= "hidden" if @hidden.include?(user.id) %>" data-user-id="<%= user.id %>">
    <li class="user-name">
      <h3><%= user.name %></h3>
      <%= link_to '', '#', class: :hide %>
    </li>
    <% user.handlebars_issues.each do |issue| %>
      <%= issue_handlebar(issue, :li) %>
    <% end %>
  </ul><!--
<% end %>
--></div>
<% end %>
<%= context_menu issues_context_menu_path %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag('plugin', plugin: :handlebars) %>
  <style type="text/css">
    <% IssuePriority.colors.each_with_index do |color, idx| %>
    .handlebar.priority-position-<%= idx+1 %>:before { background: <%= color %>; }      
    <% end %>    
  </style>  
  <%= javascript_include_tag('plugin', plugin: :handlebars) %>
<% end %>
